---
layout: default
---

<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m9 l10">
				<h2>Commands</h2>
				<hr>
				<h5>Notes:</h5>
				<p>
					Use <code>!commands</code> to get a list of all command categories in your server.<br>
					Use <code>!help (commandName)</code> to get detailed command information as displayed on this page.
					Use the <code>!prefix</code> command to change the command prefix for your server, as detailed below.
				</p>
				<p>
					Text arguments containing multiple words needs be to put in quotes ("arg here") or code ticks (&#96;arg here&#96;) if it's not the last argument and there's more than 1 text argument.
					<br>
					For example with the poll command if you need a multi-word question and a multi-word option:<br>
					<code>!poll "What game should we play?" fornite "move or die" nothing</code>
				</p>
				<hr>
				<h5>Legend</h5>
				<div class="code-wrapper">
					<code>&#60;required argument&#62; (validated argument) [optional argument]</code>
				</div>
				{% assign categories = site.data.command-list | sort: "name" %}
				{% for category in categories %}
				<hr>
				<section id="{{ category.name }}" class="scrollspy">
					<h4>{{ category.name }}</h4>
					{% for cmd in category.commands %}
						<ul class="collapsible popout">
							<li>
								<div class="collapsible-header">
									<div class="row">
										<div class="col s11"><b class="indigo-text">{{ cmd.name }}</b>&nbsp;-</div>
										{% if cmd.nsfw %}
										<span class="white-text badge red col s1">NSFW</span>
										{% endif %}
										<div class="col s12">{{ cmd.description }}</div>
									</div>
								</div>
								<div class="collapsible-body">
									{% unless cmd.details == "No extended help available." %}
									<div>
										<h6><b>Details:</b></h6>
										<div>{{ cmd.details | markdownify }}</div>
									</div>
									{% endunless %}
									{% unless cmd.aliases == "" %}
									<div>
										<h6><b>Aliases:</b></h6>
										<div class="code-wrapper"><code>{{ cmd.aliases }}</code></div>
									</div>
									{% endunless %}
									<div>
										<h6><b>Usage:</b></h6>
										<div class="code-wrapper"><code>{{ cmd.usage | escape }}</code></div>
									</div>
									<div>
										{% unless cmd.bot_perms == "" %}
										<h6><b>Required Bot Permissions:</b></h6>
										<div class="badge-container">
											{% for perm in cmd.bot_perms %}
											<span class="white-text badge indigo accent-4">{{ perm }}</span><br>
											{% endfor %}
										</div>
										{% endunless %}
										{% unless cmd.user_perms == "" %}
										<h6><b>Required User Permissions:</b></h6>
										<div class="badge-container">
											{% for perm in cmd.user_perms %}
											<span class="white-text badge purple darken-3">{{ perm }}</span>
											{% endfor %}
										</div>
										{% endunless %}
									</div>
								</div>
							</li>
						</ul>
					{% endfor %}
				</section>
				{% endfor %}
			</div>
			<div class="col hide-on-small-only m3 l2 toc-wrapper">
				<ul class="section table-of-contents pinned">
				</ul>
				<script>
					document.addEventListener('DOMContentLoaded', function() {
						const collapse = document.querySelectorAll('.collapsible');
						const scrollspyItems = document.querySelectorAll('.scrollspy');
						const instances = M.Collapsible.init(collapse);
						const instances2 = M.ScrollSpy.init(scrollspyItems, {});
 					});
					const sectionList = document.querySelectorAll('section.scrollspy');
					sectionList.forEach(item => {
						const tocItem = document.createElement('li');
						const tocLink = document.createElement('a');
						tocLink.innerText = item.id.toUpperCase();
						tocLink.href = `#${item.id}`;
						tocItem.append(tocLink);
						document.getElementsByClassName('table-of-contents')[0].append(tocItem);
					});
				</script>
			</div>
		</div>
	</div>
</main>
