{% include head.html %}

<ul id="slide-out" class="sidenav sidenav-fixed">
	<li>
		<div class="user-view center-align">
			<img class="circle" src="https://i.imgur.com/xF8vf6H.png">
			<a href="/"><span class="black-text name">Spudnik</span></a>
		</div>
	</li>
	<li><div class="divider"></div></li>
	<!-- <li>
		<a href="https://spudnik.io/features">Features</a>
	</li> -->
	<li>
		<a class="{% if page.layout == 'home' %}active{% endif %}" href="/">Docs Home</a>
	</li>
	<li>
		<a class="{% if page.layout == 'getting-started' %}active{% endif %}" href="/getting-started">Getting Started</a>
	</li>
	<li>
		<a class="{% if page.layout == 'commands' %}active{% endif %}" href="/commands">Commands</a>
	</li>
</ul>

<main class="main-content">
	<nav class="deep-purple darken-4" role="navigation">
		<div class="nav-wrapper">
			<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			
			<ul class="right">
				<li>
					<a href="https://twitter.com/Spudnik_Bot" class="nav-link">
						<i class="fab fa-twitter fa-lg"></i>
					</a>
				</li>
				<li>
					<a href="https://github.com/Spudnik-Group/Spudnik" class="nav-link">
						<i class="fab fa-github fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	{{ content }}
</main>

{% include footer.html %}
